<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="dhrvjha, portfolio of Dhruv, Dhruv Kumar Jha">
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="dhrvjha">
        <meta name="viewport content="width="device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="container dynamic">
            <div>
                {% block 'content' %}
                {% endblock 'content' %}
            </div>
        </div>
    </body>
</html>
